//- vim: tabstop=2:shiftwidth=2:softtabstop=2:expandtab
mixin pageBody
  div.row
    div.col-md-7
      div.ps_upload_control
        button(type="button",class=["btn","btn-primary","btn-sm","ps_btn_add"])
          span(class=["glyphicon","glyphicon-plus"])
          = " Add More "
          span.badge 0
    div.col-md-5
      div.ps_upload_control
        button(type="button",class=["btn","btn-success","btn-sm","pull-right","ps_btn_upload"])
          span(class=["glyphicon","glyphicon-upload"])
          = " Start Uploading"
  div.row
    div.col-md-12
      div.ps_upload_zone
        div.ps_upload_zone_main_row.dropzone-previews
        div.ps_upload_zone_ins
          button(type="button",class=["btn","btn-primary","btn-lg","btn-block","ps_btn_add"])
            span(class=["glyphicon","glyphicon-plus"])
            = " Click or Drop Photos"
          div.ps_assist_ins_lg Drag and drop photos from your folder into this dashed area

if !layout
  div.pjax_root
    div.pjax_head
      title= title
    div.pjax_body
      +pageBody
else
  +pageBody

